body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.scene {
    position: relative;
    width: 800px;
    height: 400px;
    border: 1px solid #ccc;
    background-color: #fff;
    overflow: hidden;
}

.santa {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 100px;
    height: 100px;
}

.gift {
    position: absolute;
    top: 20px;
}

.gift.small {
    right: 100px;
    width: 50px;
    height: 50px;
}

.gift.large {
    right: 20px;
    width: 80px;
    height: 80px;
}

.tree {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 100px;
    height: 150px;
}

.santa img, .gift img, .tree img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 300px;
}

.arrows {
    display: flex;
    justify-content: center;
    gap: 10px;
}

button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#giftChoice {
    margin-top: 20px;
}

#message {
    color: red;
    margin-top: 10px;
}

#deliveryMessage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 36px;
    color: green;
    font-weight: bold;
}
